@import url('./acceuil/left.scss');
@import url('./responsive.scss');

body{
    background-color: black;
    color: white;
}
@media screen and (min-width: 481px) {
    body{

        height:100vh  
    }

  }

