@import url('./acceuil/left.scss');
@import url('./acceuil/hoverImg.scss');
@import url('./responsive.scss');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body{
    background-color: rgb(18, 18, 18);
    color: rgb(188, 203, 208);
   
}

.f{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
@media screen and (min-width: 481px) {
    body{

        height:100vh  
    }

  }

  .close{
    z-index: 1000 !important;
  }
  .title_acccueil{

    color: #f9dbf3;
    text-shadow:
        0 0 7px #f9dbf3,
        0 0 10px #f9dbf3,
        0 0 21px #f9dbf3,
        0 0 42px #f94dd4,
        0 0 82px #f94dd4,
        0 0 92px #f94dd4,
        0 0 102px #f94dd4,
        0 0 151px #f425c7;
  }

//   breadcrumb

.breadcumb-item{
    font-family: "Monoton", sans-serif;
}

@supports (animation-timeline: view()) {
    @property --opacity {
      syntax: "<number>";
      inherits: true;
      initial-value: 1;
    }
  
    @property --min-opacity {
      syntax: "<number>";
      inherits: true;
      initial-value: 1;
    }
  
    @keyframes top-proximity {
      0% { --min-opacity: 1; }
      100% { --min-opacity: 0; }
    }
  
    @keyframes y-distribution {
      0% { --opacity: 0.3; }
      25% { --opacity: 1; }
      75% { --opacity: 1; }
      100% { --opacity: 0.3; }
    }
  }
  
  .scrollAnim {
    --min-opacity: var(--is-top) * var(--top-min-opacity) + (1 - var(--is-top)) * var(--bottom-min-opacity);
    opacity: max(var(--opacity), var(--min-opacity));
    animation: y-distribution ease-in-out reverse both,
               top-proximity ease-in-out reverse both,
               bottom-proximity ease-in-out reverse both;
    animation-timeline: view(), scroll(), scroll();
    animation-range: normal, 0% 3rem, calc(100% - 3rem) 100%;
  }
  