.article_left{
height: 100rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 3rem;
    grid-auto-rows: minmax(100px, auto);


}

.one {
    grid-column: 2 / 4;
    grid-row: 1/3;
  
  }
  .two {
    grid-column: 1 / 2;
    grid-row: 1 ;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
}
.sept{
    z-index: 30;
    background-color: chartreuse;
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .huit{

  }
  .neuf{
    background-color: rgb(255, 0, 204);
    grid-column: 2/4;
    grid-row: 4/8;
  }
  .dix{

  }
  .onze{

  }
  .douze{

  }
  .treize{

  }
  .quatorze{
    z-index: 30;
    background-color: rgb(0, 85, 255);
    grid-column: 1/2;
    grid-row: 5/9
  }